{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="mt-4">
        <h1  class="text-center" class="display-1">Reduce Reuse Visualize</h1>
    </div>

    <div class="mt-8">

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Map Graph</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/map" class="btn btn-primary">Use a Map</a>
            </div>
          </div>

    </div>
{% endblock %}